<!DOCTYPE html>
<html lang="en">
<head>
  
	<title><%= SEO.title %></title>
	<meta charset="utf-8">
	<meta name="author" content="<%- SEO.author %>">
	<meta name="description" content="<%- SEO.description %>">
	<meta name="robots" content="index, follow">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">
	<meta property="og:title" content="<%- SEO.ogTitle %>" />
	<meta property="og:site_name" content="Vicigo" />
	<meta property="og:url" content="<%- SEO.ogUrl %>" />
	<meta property="og:description" content="<%- SEO.ogDescription %>" />
	<meta property="fb:app_id" content="1577245229193798" />
	<meta property="og:type" content="article" />
	<meta property="og:locale" content="en_US" />
	
	<meta property="og:image" content="<%- SEO.ogImage %>" />
	<% if (SEO.ogImages) { SEO.ogImages.forEach(function(image){  %>
	<meta property="og:image" content="<%- image %>" />
	<%  }); } %>
	<% if (SEO.author_facebook_id) { %><meta property="article:author" content="<%- SEO.author_facebook_id %>"  /><% } %>
	<meta property="article:publisher" content="https://www.facebook.com/vvicigo" />

	
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="<%- SEO.twitterTitle %>" />
	<meta name="twitter:url" content="<%- SEO.ogUrl %>" />
	<meta name="twitter:description" content="<%- SEO.twitterDescription %>" />
  <meta name="twitter:image" content="<%- SEO.ogImage %>">
	
	<meta name="google-site-verification" content="rWIW2CeQa3seMZY2sqbf-gQD-pPWQtqDPefyQgiYyhM" />
	<link rel="icon"  type="image/png" href="/img/favicon.png">
<style>
	
	article {
		font-size:20px;
		max-width:800px;
	}
	

	
	.img-center {
	  display: block;
    margin-left: auto;
    margin-right: auto
	}
	.text-center {
		text-align: center;
	}
	
	.container {
		max-width:1000px;
		margin: 0 auto;
	}
	.feeds{
		max-width:700px;
		margin: 0 auto;
	}
	.feed-image img{
		max-width:100%;
	}
	
.list-unstyled li {
 padding: 5px;
 margin: 0;
 list-style: none;
}
	
.list-inline	li {
    display: inline;
}
</style>		
	
	
	</head>
	
<body>

	<header>
	<div class="container">
		
		<a href="/"><img src="/img/vicigo_logo_short_dark_size_1.png" alt="Vicigo logo"></a>
	
		<nav>
			<ul class="site-navigation list-inline list-unstyled">
								<li><a href="/login" class="btn btn-info"><span class="fa fa-user"></span>Login</a>
								</li>
								<li><a href="/signup" class="btn btn-info"><span class="fa fa-user"></span>Sign up</a>
								</li>	
			</ul>
		</nav>
	</div>

		
	
		
</header>
	
	
	
	
	<div class="container">
		<%- body %>
	</div>
		
		
		<%- include ../footer %>

</body>

</html>