<div class="overview">

<h1 class="text-center">
  Hashtag #<%- hashtag %>
</h1>

</div>
<hr>
<div class="feeds" >
<% for (var index = 0; index < feeds.length; index++ ) { %>

<div class="feed">
  

<ul class="list-inline list-unstyled">
				<li>
					<a href="/profile/<%- feeds[index].authorName %>">
						<% if ( feeds[index].authorImage ) { %>
							<img style="width:25px; height:25px;" src="<%- feeds[index].authorImage %>" alt="<%- feeds[index].authorName %>">
							<% } else { %>
							<img style="width:25px; height:25px;" src="/img/avatar.png" alt="<%- feeds[index].authorName %>">
							<% } %>
					</a>
				</li>

				<li style="vertical-align:middle">
					<a href="/profile/<%- feeds[index].authorName %>"><%- feeds[index].authorName %></a>
					<% if ( feeds[index].authorWebsiteUrl ) { %>
					<a href="<%- feeds[index].authorWebsiteUrl %>" title="Visit my page">Author's website</a>
					<br>
					<% } %>

					<small><%- feeds[index].authorTitle %></small>
				</li>
</ul>






<% if( feeds[index].post_type_id == 4  || feeds[index].post_type_id == 5 ) { %>
<div class="feed-image">
   <h3>
       <a href="/post/<%- feeds[index].id %>"><%- feeds[index].title %></a>
    </h3>
   <a href="/post/<%- feeds[index].id %>">
      <img src="<%- feeds[index].image_url %>" alt="Image on Vicigo with hashtags: <% feeds[index].hashtags.forEach(function(hashtag) { %><%- hashtag.hashtag %> <%  }); %>">
   </a> 
     
</div>
<% } %>
<% if( feeds[index].post_type_id == 2 || feeds[index].post_type_id == 3 ) { %>
<div class="feed-post">
   <h3>
       <a href="<%- feeds[index].link %>"><%- feeds[index].title %></a>
    </h3>
      <p>
        <%- feeds[index].body %> <a href="/post/"<%- feeds[index].id %>>Read more</a>
      </p>
</div>
<% } %>
	<p class="text-center">
<% feeds[index].hashtags.forEach(function(hashtag) { %>
  <span><a href="/hashtag/<%- hashtag.hashtag %>">#<%- hashtag.hashtag %></a></span>
<%  }); %>
	</p>
	
  </div>
<hr>
  <% } %>
	  </div>