
<div class="overview">

<h1 class="text-center">
  <%- hashbook.blog_title %>
</h1>
<h2 class="text-center">
  <%- hashbook.blog_desc %>
</h2>
  


<h3 class="text-center">
  Hashbook by <%- hashbook.author_fullname %> (<a href="/profile/<%- hashbook.author_username %>">@<%- hashbook.author_username %></a>)
</h3>

 </div>

<% if(hashbook.blog_bg_picture) { %>
<img style="max-width:1000px;" src="<%- hashbook.blog_bg_picture %>" alt="Image on Vicigo:  <%- hashbook.blog_title %>">
<% } %>
<% for (var index = 0; index < hashbook.posts.length; index++ ) { %>

<div class="feed row" style="padding:20px;">
  
<span><%- hashbook.author_fullname %> (<a href="/profile/<%- hashbook.author_username %>">@<%- hashbook.author_username %></a>)</span>
 
<span><%- hashbook.posts[index].read_time %></span>  
  
<% if( hashbook.posts[index].post_type_id == 4  || hashbook.posts[index].post_type_id == 5 ) { %>
<div class="feed-image">
   <h3>
       <a href="<%- hashbook.posts[index].link %>"><%- hashbook.posts[index].title %></a>
   </h3>
   <a href="<%- hashbook.posts[index].link %>">
      <img src="<%- hashbook.posts[index].post_image_url %>" alt="Image on Vicigo">
   </a>   
</div>
<% } %>
  
<% if( hashbook.posts[index].post_type_id == 2 || hashbook.posts[index].post_type_id == 3 ) { %>
<div class="feed-post">
    
    <h3>
       <a href="<%- hashbook.posts[index].link %>"><%- hashbook.posts[index].title %></a>
    </h3>
  <% if( hashbook.posts[index].post_image_url) { %>
   <a href="<%- hashbook.posts[index].link %>">
      <img src="<%- hashbook.posts[index].post_image_url %>" style="max-width:100%;" alt="Image on Vicigo">
   </a> 
   <% } %>
      <article>
        <%- hashbook.posts[index].post_body %> <a href="<%- hashbook.posts[index].link %>">Read more</a>
      <article>
</div>
<% } %>


  </div>
<hr>
  <% } %>