<!DOCTYPE html>

<html lang="en">

<head>
	<title>Get answers, advice and inspiration - Vicigo</title>
	<%- include meta/meta %>
	
	<link rel="icon" type="image/ico" href="/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/fonts/font-awesome-4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/css/main2.css">
	<link href="/css/toastr.min.css" media="all" rel="stylesheet" type="text/css" />
	<link href="/css/dropzone.css" media="all" rel="stylesheet" type="text/css" />
	<!--<link href="/lib/jquery-hashtags-master/css/jquery.hashtags.css" rel="stylesheet">-->
	
	
	<link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css">
	<link href="/lib/tag-it/css/jquery.tagit.css" rel="stylesheet">
  <link href="/lib/tag-it/css/tagit.ui-zendesk.css" rel="stylesheet" type="text/css">
	
	</head>

	 
	
<body ng-app="vicigoApp" >
	<div class="body-background" ></div>
	<div id="" class="header-fixed-top boxed-simplified">
		<%-  include partials/header %>
		<div style="padding-top:55px;">
		<%- body %>
		</div>
		<%- include footer %>
	</div>
	<a href="/" id="to-top"><i class="fa fa-arrow-up"></i></a>
    
    <script type="text/javascript" src="/js/vendor/angular.min.js"></script>
	<script type="text/javascript" src="/js/vendor/angular-sanitize.min.js"></script>
  <script src="/lib/jquery-hashtags-master/js/jquery-2.1.4.min.js" type="text/javascript"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="/js/vendor/bootstsap.min.js"></script>
	<script type="text/javascript" src="/js/dropzone.js"></script>
	<script type="text/javascript" src="/js/toastr.min.js"></script>

<!-- HASHTAGS SCRIPTS -->	
<script src="/lib/tag-it/js/tag-it.js" type="text/javascript" charset="utf-8"></script>
	<!--
 <script src="/lib/jquery-hashtags-master/js/autosize.min.js" type="text/javascript"></script>
 <script src="/lib/jquery-hashtags-master/js/jquery.hashtags.js" type="text/javascript"></script>`
  -->
		<!-- END HASHTAGS SCRIPTS -->
	
	
	
			<script>
 $(document).ready(function() {
	 
imageDropzone = new Dropzone("#imageDropzone", { url: "/upload/image", maxFiles: 1,
    maxfilesexceeded: function(file) {
        this.removeAllFiles();
        this.addFile(file);
    }, thumbnailWidth : null, previewTemplate: document.querySelector('#preview-template').innerHTML });


imageDropzone.on("success", function(file,response) {
		console.log(response);
	$('#uploadedImage').attr('src',response.link);
	$("#uploadedImagePostId").val(response.postId)
	document.getElementById("publishPicturePostBtn").disabled = false; 
	$(".dz-message" ).addClass( "hidden" );
});

    //$("input").hashtags();
	  //$("textarea").hashtags();
	 //$("input").tagit();
	 //$("textarea").tagit();
	 $(".tags-area").tagit();
	 
 });
	</script>
	
	
	<script type="text/javascript" src="/js/app.js"></script>
	<script type="text/javascript" src="/js/angularApp.js"></script>
	

	
<%- include partials/google-analytics %>

	
	
	
</body>
</html>







