
<% if (feed.post_type_id == 2 || feed.post_type_id == 3) { %>
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Article",
  "mainEntityOfPage":{
    "@type":"WebPage",
    "@id":"https://vicigo.com/post/<%- feed.id %>"
  },
  "headline": "<%- feed.post_title %>",
  "image": {
    "@type": "ImageObject",
    "url": "<%- feed.author_profile_image_url %>",
    "height": 150,
    "width": 150
  },
//	"articleSection" : '<%- feed.post_body_stripped %>',
  "datePublished": "<%- feed.post_created_at %>",
  "dateModified": "<%- feed.post_created_at %>",
  "author": {
    "@type": "Person",
    "name": "<%- feed.author_name %>"
  },
   "publisher": {
    "@type": "Organization",
    "name": "Vicigo",
    "logo": {
      "@type": "ImageObject",
      "url": "http://vicigo.com/img/vicigo_logo_short_dark_size_2.png",
      "width": 150,
      "height": 104
    }
  },
  "description": "<% for (var index = 0; index < feed.hashtags.length; index++ ) { %><%- feed.hashtags[index].hashtag %> <% } %>"
}
</script>
<% } %>


<div class="container">
<div>
	
	

	
		<div class="row">
			<% if (feed.post_type_id == 2 || feed.post_type_id == 3) { %><h1 class="text-center"><%- feed.post_title %></h1>	<% } %>
			
			<img src="<%- feed.post_image_url %>" style="max-width:1000px;width:100%;">
		
		<h5>	
		<span class="hashtag" style="padding:3px;" ><%- feed.post_created_at_formatted_calendar %></span> 
		<span style="padding:3px;"><span>Vicigo</span></span> 
		</h5>

			
		
		</div>
	
		<div class="row">
			
			<ul>
				<li>
					<a href="/profile/<%- feed.author_name %>">
						<% if ( feed.author_profile_image_url ) { %>
							<img style="width:30px;" src="<%- feed.author_profile_image_url %>" alt="<%- feed.author_fullname %> @<%- feed.author_name %>">
							<% } else { %>
							<img src="/img/avatar.png" alt="<%- feed.author_fullname %>  @<%- feed.author_name %>">
							<% } %>
					</a>
				</li>

				<li style="vertical-align:middle">
				
					<a href="/profile/<%- feed.author_name %>"><span><%- feed.author_fullname %> @<%- feed.author_name %></span></a>
					
					<% if ( feed.author_website_url ) { %>
					<a href="<%- feed.author_website_url %>" title="Visit my page">Author's website</a>
					<br>
					<% } %>

					<small><%- feed.author_title %></small>
				</li>
			</ul>
		</div>
		<% if (feed.post_type_id == 2 || feed.post_type_id == 3) { %>
		<div class="row">
				<article>
					<%- feed.post_body %>
				</article>
		</div>
	<% } %>
	
	<div class="row">
		<p>
		<% for (var index = 0; index < feed.hashtags.length; index++ ) { %>
		<div style="margin:10px;" class="hashtag" ><a  href="/hashtag/<%- feed.hashtags[index].hashtag %>">#<%- feed.hashtags[index].hashtag %></a></div>
		<% }  %>
	  </p>
	</div>
	
	
<% if ( feed.post_short_link ) { %>
<hr>	
Short <a href="http://sirbz.com">SirBz</a> link: <a href="<%- feed.post_short_link %>" ><%- feed.post_short_link %></a>
<% } %>
<hr>
	
	<% if (feed.relatedPics.length) {  %>
		<h4>
			Images from <%- feed.author_name %>
		</h4>
			<div class="row">
				<% feed.relatedPics.forEach(function(related){  %>
								<div class="image-center col-xs-6 col-sm-4 col-md-4 padding-top" style="display: inline-block;margin: 1em;">
									<a href="/post/<%- related.post_id %>">
											<img style="width:100px; height:100px; overflow:hidden;" src="<%-related.image_url%>" alt="related pic">
									</a>
								</div>
				<%  }); %>
		</div>
	<% }  %>
	</div>




	<div class="row">
		<h5 class="bold">
	Post Overview	
	</h5>

		<i class="fa fa-eye side-padding"><%- feed.post_views %> Views</i>
		<i class="fa fa-heart-o side-padding"><%- feed.upvotes_count %> Upvotes</i>
		<i class="fa fa-comment-o side-padding"><%- feed.comment_count %> Comments</i>
		<% if (feed.visits.length) { %>
			<hr>
			<h5 class="bold">
	Seen by
	</h5>

			<% feed.visits.forEach(function(visit){  %>
				<% if (visit.profile_image_url) { %>
								<a href="/profile/<%- visit.user_id %>"><img style="width:20px; height:20px; overflow:hidden;" src="<%- visit.profile_image_url %>" alt="<%- visit.name %>"></a>
				<% } else { %>
								<a href="/profile/<%- visit.user_id %>"><img style="width:20px; height:20px; overflow:hidden;" src="/img/avatar.png" alt="<%- visit.name %>"></a>
				<% } %>
		
		
				
			<%  }); %>
					<% } %>
		
		
<% if (feed.sameAuthorPosts.length) { %>
							<hr>
							<h5 class="bold">
	More from <%- feed.author_name %>
	</h5>

							<% feed.sameAuthorPosts.forEach(function(related){  %>
								<div style="padding:10px;">
									<a href="<%- related.link %>">
										<%- related.title %>
									</a>
								</div>
							<%  }); %>
<% } %>		

<% if (feed.relatedPosts.length) { %>
							<hr>
							<h5 class="bold">
	Related posts	
	</h5>

							<% feed.relatedPosts.forEach(function(related){  %>
								<div style="padding:10px;">
									<a href="<%- related.link %>">
										<%- related.title %>
									</a>
								</div>
							<%  }); %>
<% } %>
	</div>

	<div>
		<h5>
				<span>Vicigo</span> - <span>explore the world of hashtags</span>
		</h5>
	</div>

	
	
</div>