<div class="profile-summary">

<img class="img-center" src="<%- profile.profile_image_url%>" alt="<%- profile.full %> @<%- profile.name %>, <%- profile.title %>">
<h1 class="text-center">
  <%- profile.name %>
</h1>
<h2 class="text-center">
  <%- profile.title %>
</h2>
<p class="text-center">
     <% for (var index = 0; index < profile.hashtags.length; index++ ) { %>
		<span><a href="?hashtag=<%- profile.hashtags[index].hashtag %>">#<%- profile.hashtags[index].hashtag %></a></span>
		<% }  %>
</p>



<p>
  <a href="<%- profile.website_url %>"/>Profile's website</a>
</p>
</div>
<hr>
<div class="feeds">
	

<% for (var index = 0; index < feeds.length; index++ ) { %>
<div class="feed">
<% if( feeds[index].post_type_id == 4 || feeds[index].post_type_id == 5 ) { %>
<div class="feed-image">
   <h3>
       <a href="<%- feeds[index].link %>"><%- feeds[index].title %></a>
    </h3>
  <a href="<%- feeds[index].link %>">
  <img class="img-center" src="<%- feeds[index].image_url %>" alt="<% feeds[index].hashtags.forEach(function(hashtag) { %><%-hashtag.hashtag%> <%  }); %>">
  </a> 
     
</div>
<% } %>
<% if( feeds[index].post_type_id == 2 || feeds[index].post_type_id == 3 ) { %>
<div class="feed-post">
   <h3>
       <a href="<%- feeds[index].link %>"><%- feeds[index].title %></a>
    </h3>
      <p>
        <%- feeds[index].body %> <a href="<%- feeds[index].link %>">Read more</a>
      </p>
</div>
<% } %>
<p class="text-center">
	<% feeds[index].hashtags.forEach(function(hashtag) { %>
  <span><a href="/hashtag/<%- hashtag.hashtag %>">#<%- hashtag.hashtag %></a></span>
<%  }); %>
</p>


	</div>
	<hr>
  <% } %>
	
</div>	