<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
    <title>Vicigo - Sign Up</title>    
	<%- include meta/meta %>
	
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/fonts/font-awesome-4.3.0/css/font-awesome.min.css">
	
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

	
	  <img style="width:100%; max-width:150px; display:block; margin:auto;" src="/img/vicigo_logo_short_dark_size_2.png" >		
	
    <h1>create an account</h1> 
	
	

    <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>
	

	 
	
    <!-- LOGIN FORM -->
    <form action="/signup?<% if (query) { if (query.question&&query.postId) { %>question=true&postId=<%- query.postId %><% }} %>" method="post">
		<div class="form-group">
            <label>username</label>
            <input type="text" class="form-control" name="name">
        </div>
        <div class="form-group">
            <label>email</label>
            <input type="text" class="form-control" name="email">
        </div>
        <div class="form-group">
            <label>password</label>
            <input type="password" class="form-control" name="password">
        </div>

        <button type="submit" class="btn btn-warning btn-lg">Signup</button>
	
		<a href="/auth/facebook" class="btn btn-primary push btn btn-lg"><span class="fa fa-facebook"></span> Facebook</a>
		<hr>
		<p class="pull">By signing up you agree to our privacy policy and terms of usage.</p>
		
    </form>

	
    
	<hr>

    <p>Already have an account? <a href="/login">Login</a></p>

</div>

</div>
	
<%- include footer %>	
	
<%- include partials/google-analytics %>		

</body>
</html>