<!doctype html>
<html>

<head>
  <title>Vicigo - Sitemap</title>

    <% include meta/meta %>

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/fonts/font-awesome-4.3.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="/css/style.css">
	
</head>
	
    <body style="padding-top:130px;">


        
           
<!-- INTRO BEGIN -->
<header  class="push">
	<div class="container">
		<h1 class="slogan text-center"><strong href="/sitemap/">Sitemap</strong> <small><a href="/sitemap/hashtags">Hashtags</a></small></h1>

	</div>
</header>
<!-- INTRO END -->
 
 <% include partials/header-search-ejs %> 

			<div class="container">
				<div class="row push">
				<div class="col-md-8 col-md-offset-2">
				</h2>	
				<ul>
				<% posts.forEach(function(post) { %>
				<%  if ( post.post_type_id == 2 || post.post_type_id == 3 )  { %>	
				<li><a href ="<%- post.link  %>"/><%- post.title %></a> by <a href="/profile/<%- post.author_username%>">@<%-post.author_username%></a></li>
				<%  } %>
				<%  }); %>
				</ul>		
				</div>
			</div>
		
       
<%- include footer %> 
      


		<script type="text/javascript" src="/js/vendor/bootstsap.min.js"></script>

    </body>



</html>















	

	
