
		
		





				<div class="container">
					<div class="row">
						<div class="col-md-2"></div>	
				
						
						
						
						<div class="col-md-8 col-xs-12" style="min-height:250px;">

							

						<img class="<% if (!post.post_image_url) { %>hidden<% }%>" style="max-width:100%;cursor:pointer;" id="postBackground" src="<%- post.post_image_url %>" alt="background" data-toggle="modal" data-target="#uploadMainImageModal">
							 <% if (!post.post_image_url) { %>
		<div class="text-center changeSomethingBtn" style="cursor:pointer;" data-toggle="modal" data-target="#uploadMainImageModal">
							<i style="text-align:center;" class="fa fa-camera fa-3x"></i>
		</div>
							 <% }   %>

								 
							
							<h2>
								<strong>
								 <% if (!config.titleNotEditable){%> 
								<div id="title">
								 <%- post.post_title %> 
								</div>
								<% } else { %>
								<%- post.post_title %>
											<% if (post.post_status == 2) { %>
	<div class="badge">
		Published
	</div>
											<% } %>
								<% } %>
								</strong>
							</h2>
							<hr>
					
							<!--
							<h4><strong>
								 <% if (!config.descriptionNotEditable){ %> 
								<div id="description">
								<%- post.post_description %>		
								</div>
								 <% } else { %>
								<%- post.post_description %>	
								 <% } %>
								</strong>
							</h4>
							-->
							
							<article id="body" ><%- post.post_body %></article>
							<hr>
							<p>
							Tag your article. Use relevant tags that reflect precicely the topic of your article.
							</p>	
						<div class="form-group">
							<form>
								<input id="description" name="tags" >
							</form>
						</div>
							
							
						</div>
					</div>
				</div>



	<!-- UPLOAD IMAGE MODAL -->
		<div class="modal fade" id="uploadMainImageModal" tabindex="-1" role="dialog" aria-labelledby="uploadMainImageModal">
			<div class="modal-dialog" role="document">
				<div class="modal-content">

					<div class="modal-header">
						<h4 class="modal-title" id="myModalLabel"><b>Upload background picture</b> <button class="close" data-dismiss="modal">×</button></h4>
					</div>

					<div class="modal-body">
				
						<input id="uploadedImagePostId" type="hidden">
						<form enctype="multipart/form-data" type="post" class="dz-clickable" id="imageDropzone">
							<div class="dz-message">
								<h3 class="push dz-message-text">drop files here or click to upload</h3>
							</div>
							<img id="uploadedImage" class="hidden" style="width:90%; max-width:600px; display: block; margin-left: auto; margin-right: auto" src="" />
						</form>
					</div>

					<!-- FOOTER IMAGE MODAL -->
					<div class="modal-footer">
						<button disabled id="publishPicturePostBtn" ng-click="publishPicturePost()" type="button" class="btn btn-primary btn-lg btn-block">Post</button>
					</div>
					<!-- FOOTER IMAGE MODAL -->
				</div>
			</div>
		</div>
		<!-- UPLOAD IMAGE MODAL -->	


							<div id="preview-template" style="display:none;">
								<div class="dz-preview dz-file-preview">

									<div class="dz-details">
										<div class="dz-filename"><span></span></div>
										<div class="dz-size"></div>
									</div>

									<div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
									<div class="dz-success-mark"><span></span></div>
									<div class="dz-error-mark"><span></span></div>
									<div class="dz-error-message"><span data-dz-errormessage></span></div>

								</div>
							</div>

