<!DOCTYPE html>

<html lang="en">

<head>
	<title>Vicigo - Write</title>
	<%- include meta/meta %>

	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/fonts/font-awesome-4.3.0/css/font-awesome.min.css">
	
	<link href="/css/froala/froala_editor.min.css" rel="stylesheet" type="text/css" />
	<link href="/css/froala/froala_style.min.css" rel="stylesheet" type="text/css" />
	<link href="/css/froala/themes/theme.css" rel="stylesheet" type="text/css" />
	<link href="/css/froala/plugins/code_view.min.css" rel="stylesheet" type="text/css" />
	<link href="/css/froala/plugins/image.min.css" rel="stylesheet" type="text/css" />
	
	<link href="/css/toastr.min.css" media="all" rel="stylesheet" type="text/css" />
	
	
	<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css" />
	<link href="/lib/tag-it/css/jquery.tagit.css" rel="stylesheet">
	<link href="/lib/tag-it/css/tagit.ui-zendesk.css" rel="stylesheet" type="text/css" />
	<link href="/css/froala/plugins/code_view.min.css" rel="stylesheet" type="text/css" />
	<link href="/css/style.css" media="all" rel="stylesheet" type="text/css" />
	<link rel="icon"  type="image/png" href="/favicon.png">
	
	
	
</head>

	
<body>

		<%- include editor/header %>
	
		<div style="padding-top:70px; min-height:700px;">
			<%- body %>
		</div>
		
		<%- include footer %>


	<script src="/js/vendor/jquery-2.1.3.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/vendor/bootstsap.min.js"></script>
	<script src="/js/froala_editor.min.js"></script>
  <script src="/js/dropzone.js"></script>
	<script type="text/javascript" src="/js/toastr.min.js"></script>
	<script src="/lib/tag-it/js/tag-it.js" type="text/javascript" charset="utf-8"></script>
  
	<script src="/js/froala-plugins/image.min.js"></script>
  <script src="/js/froala-plugins/video.min.js"></script>
  <script src="/js/froala-plugins/link.min.js"></script>
	<script src="/js/froala-plugins/code_view.min.js"></script>
	<script src="/js/app.js"></script>
 
	

	
	<!-- Initialize the editor. -->
	<script>
		
		$(function() {
			
				

			
			
			
			
			$("#description").tagit();
			<%  if (!post.hashtags.length){  %>
			$("#description").tagit("createTag","article");
			<% } %>
			<%  for(var index = 0; index<post.hashtags.length; index++){  %>
			$("#description").tagit("createTag","<%-post.hashtags[index].hashtag %>");
			<% } %>
			 <% if (post.post_type_id == 3  || post.post_type_id == 2 ){ %>
			 $('#title').froalaEditor({
				key: 'krlenofG5hcj1==',
				toolbarInline: true,
				countCharacters: true,
				alwaysVisible: false,
				toolbarButtons: [],
				allowComments: false,
				allowScript: false,
				allowStyle: false,
				plainPaste: true,
				allowedAttrs: [  ],
				placeholderText: "Title"
			});
	<% } %> 

			var imageUploadUrl = "/api/post/<%- post.id %>/upload/image";
			$('#body').froalaEditor({
				toolbarSticky: false,
				key: 'krlenofG5hcj1==',
				imageUploadURL: imageUploadUrl,
				heightMin: 300,
				  linkAttributes: {
  target: '_blank'
},
				toolbarBottom: false,
				//toolbarStickyOffset: 300,
				 toolbarSticky: false,
				toolbarInline: false,
				imageResize: false,
				alwaysVisible: true,
				fullPage: true,

				toolbarButtons: [ 'bold', 'italic', 'underline','strikeThrough', 'insertHorizontalRule','insertLink', 'insertImage', 'insertVideo','quote','insertHR',"html",'undo', 'redo',],
				imageButtons: ['linkImage', 'removeImage'],
				defaultImageAlignment: 'center',
				defaultImageWidth: 600,
				allowScript: false,
				allowStyle: false,
				allowComments: false,
				defaultImageTitle : 'Vicigo',
				allowedAttrs: ['href', 'alt', 'src', 'class', 'width'],
				maxFileSize: 1024 * 1024 * 3,
				imageDefaultWidth : 800,
				plainPaste: false,
				formatTags: ['p', 'h3', 'h4', 'h5', 'h6', "strong"],
				placeholderText: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
			});


		
editor = {};
	
	editor.countWords = function(s) {
			s = s.replace(/(^\s*)|(\s*$)/gi, ""); //exclude  start and end white-space
			s = s.replace(/[ ]{2,}/gi, " "); //2 or more space to 1
			s = s.replace(/\n /, "\n"); // exclude newline with a start spacing
			return s ? s.split(' ').length : 0;
		};

	editor.verifyForWords = function(text, noOfWords) {
			var numberOfWords = this.countWords(text);
			if (numberOfWords < noOfWords) {
				return false;
			} else {
				return true;
			}
		};
		
	editor.lockSave = function(domId){
	$(domId).attr("disabled", true);
		setTimeout(function(){ 
	$(domId).attr("disabled", false);
	}, 1000);
	};	
	
	editor.publish = function(){
		
		editor.lockSave("#publishBtn");
		var publish = {};
		<% if (post.post_type_id == 3 ){ %> 
		publish.title = ( $("#title").froalaEditor('html.get') ) ? $("#title").froalaEditor('html.get') : "";
		publish.hashtags = $("#description").val() ? $("#description").val() : "";
		<% } %> 
		publish.body = $("#body").froalaEditor('html.get') ? $("#body").froalaEditor('html.get') : "";

		
		if (!editor.verifyForWords(publish.body, 100)){
			toastr.warning("The minimum amount of 100 words is required to publish your post.");
			return;
		}
		var params = window.location.href.split("/");
		while( params[0] !== "write" ){
			params.shift();
		}
		var postId = params[1];
		
		
	$.post("/api/publish/"+postId, publish,function(data){
			console.log(data);
			toastr.success("+100: Blog has been published.");
			toastr.info("Redirecting to your post...");	
			setTimeout(function(){
			window.location.href = "/post/" + postId;
			}, 2000);	
	}).fail(function(err){
		console.error(err);	
		toastr.error("Error!");
	});
		
	};
	
editor.unpublish = function(){
		
		editor.lockSave("#unpublishBtn");
		var params = window.location.href.split("/");
		while( params[0] !== "edit" ){
			params.shift();
		}
		var postId = params[1];

	
	$.ajax({
   url: "/api/post/"+postId+"/unpublish/",
   type: 'PUT',
   success: function(response) {
     	console.log(response.data);
			toastr.success("Post has been unpublished.");	
   }
});

	};
		
	
		
	editor.update = function(){
		
		editor.lockSave("#updateBtn");
		var publish = {};
		
		<% if (post.post_type_id == 3 || post.post_type_id == 2 ){ %> 
		publish.title = $("#title").froalaEditor('html.get');
		<% } %>
		publish.hashtags = $("#description").val() ? $("#description").val() : "";
		publish.body = $("#body").froalaEditor('html.get') ? $("#body").froalaEditor('html.get') : "";
		var params = window.location.href.split("/");

		while( params[0] !== "edit" ){
			params.shift();
		}
		var postId = params[1];
		
	$.post("/api/update/" + postId, publish,function(data){
			console.log(data);
			toastr.success("Your post has been updated!");
			toastr.info("Redirecting to your post...");	
			setTimeout(function(){
			window.location.href = "/post/" + postId;
			}, 2000);
	}).fail(function(err){
		console.error(err);	
		toastr.error("Error!");
	});
		
	};	


	editor.saveDraft = function(){
		editor.lockSave("#saveDraftBtn");
		var draft = {};
		draft.title = $("#title").froalaEditor('html.get') ? $("#title").froalaEditor('html.get') : "";
		draft.hashtags = $("#description").val() ? $("#description").val() : "";
		draft.body = $("#body").froalaEditor('html.get') ? $("#body").froalaEditor('html.get') : "";

		var params = window.location.href.split("/");
		console.log(params);
		while( params[0] !== "write" ){
			params.shift();
		}
		var postId = params[1];
		
	$.post("/api/draft/"+postId, draft, function(data){
			toastr.success("Draft has been saved.");
			console.log(data);
	}).fail(function(err){
		toastr.error("Error!");
		console.error(err);	
	});
	
	};
<% if (post.post_type_id == 3 && post.post_status == 0 ){ %> 
	editor.autosave = function(){
		setInterval(function(){ 
			editor.saveDraft();
	}, 100000);
	}();
<% } %> 
	
			
	
			
			
			});
	</script>
	
	
<script>
var url = "/api/post/";
url +=  "<%- post.post_id %>";
url +=  "/upload/background_image";
	
imageDropzone = new Dropzone("#imageDropzone", {
						url: url,
						maxFiles: 1,
						thumbnailWidth: null,
						previewTemplate: document.querySelector('#preview-template').innerHTML,
						clickable:'#imageDropzone'
					});
					imageDropzone.on("success", function(file, response) {
						$("#postBackground").removeClass("hidden");
						$('#postBackground').attr('src', response.link);
						$("#uploadMainImageModal").modal('hide');

						console.log(response);
					});	
	
	
Dropzone.options.myAwesomeDropzone = {
  maxFilesize: 2, // MB
  accept: function(file, done) {
    if (file.name == "justinbieber.jpg") {
      done("Naha, you don't.");
    }
    else { done(); }
  }
};		
		
Dropzone.options.myAwesomeDropzone = {
  init: function() {
    this.on("success", function(file, response) { 
		console.log(response);



		 $("#uploadMainImageModal").modal('hide');
		 
		 document.getElementById("postBackground").src=response.link;


	});
  }
};		
		
	
	
	</script>	

	
</body>

</html>